@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/roletop.css" />
    <title>pagina inicial</title>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Vollkorn&display=swap" rel="stylesheet">
@if(!"Home".Equals(@Model.NomeView))
    {

        <link href="~/css/galeria.css" rel="stylesheet" type="text/css">
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
    }
    @if("Dashboard".Equals(@Model.NomeView))
    {

        <link href="~/css/galeria.css" rel="stylesheet" type="text/css">
        <link href="~/css/login.css" rel="stylesheet" type="text/css">
        <link href="~/css/adm.css" rel="stylesheet" type="text/css">
    }

<script src="https://kit.fontawesome.com/349a64cb04.js"></script>
</head>
<body>

    <header>
    <div> &nbsp;</div>

        
        <section>
            <div id= "logo-area" >
                <img src="/img/logo.png" style="width: 30em" >
            </div>
        </section>
        <br />
        <nav>
            

        <div class="menu-nav">
            <nav>
            <ul>
            
                <li><a asp-controller="Home" asp-action="Index" class="active"> Home</a></li>
                <li><a asp-controller="Galeria" asp-action="Fotos">Galeria</a></li>
                <li><a href="agenda.html"> Agenda</a></li>
                <li><a asp-controller="QuemSomos" asp-action="informacoes">Quem Somos</a></li>
                <li><a asp-controller="Contato" asp-action="contato">Contato</a></li>
                @if (string.IsNullOrEmpty(@Model.UsuarioEmail))
                {
                    <li class="bt-common-menu"><a asp-controller="Cliente" asp-action="Login">Login/Cadastro </a></li>
                }
                else
                {
                    <li class="bt-common-menu"><a asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                    
                }
            
            </ul>
        </nav>
        </div>
        @if("Home".Equals(@Model.NomeView))
        {
            Html.RenderPartial("_HeaderHomePage");
        }
    </header>
            @RenderBody()
        
</body>
</html>
