@model RoleTopMVC.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Evento - RoleTop";
}
<main>
                    <h2>Minha Conta!</h2>
                        <br />
                        <div class="meu evento">
                                <a href="meuevento.html#meu evento">Meu evento</a>
                            </div>
                            <br />
                        
            <form method="POST" action='@Url.Action("Registrar", "Cliente")'>

                <div>
                    <label for="data do evento">data do evento </label>
                    <br />
                    <input id="data do evento" type="date"/>
                </div>
                <br />

                <label for="Tipo de eventos">Tipo de eventos</label>
                <br />
                    <select id='select' name='select'>
                    <option value="" disabled selected>Selecione</option>
                    </select>  
                    @foreach (var tiposDeEvento in Model.TiposDeEventos)
                    {
                        <option value="@tiposDeEvento.Nome">@tiposDeEvento.Nome por @tiposDeEvento.Preco</option>
                    }
                    
                
                <br />
                    <label for="descricao">Descrição do evento:</label>
                    <br/>
                    <textarea name="descricao" id="descricao" cols="10" rows="5"  placeholder="Descrição do evento"  style="width: 20em "></textarea>
                    <br /> 
            

                <label for="Forma de paagamento">Forma de pagamento:</label>
                <br />
                <select id='select' name='select'>
                    <option value=''>Selecione</option>
                    <option value='div1'>Débito</option>
                    <option value='div2'>Crédito</option>
                    <option value='div3'>Boleto bancário</option>                                       
                    </select>  
                    <br />
                    <label for="Serviços adicionais">Serviços adicionais:</label> 
                    <br />

                <select id='select' name='select'>
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var servicosAdicionais in Model.ServicosAdicionais)
                    {
                        <option value="@servicosAdicionais.Nome">@servicosAdicionais.Nome por @servicosAdicionais</option>
                    }
                                            
                    </select>  


            </form>
                </main>