@model RoleTopMVC.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Evento - RoleTop";
}
<main>
                    <h2>Minha Conta!</h2>
                        <br />
    
                            <br />
                        
            <form method="POST" action='@Url.Action("Registrar", "Usuario")'>

                <div>
                    <label form="nome">Nome completo:</label>
                    <br>
                    <input id="nome" type="text" maxlength="20" minlength="6" value="@Model.Cliente.Nome" name="nome">
                </div>

                <div>
                    <label for="email">E-mail:</label>
                    <br />
                    <input id="email" type="text" name="email" />
                    </div>

                <div>
                    <label for="data do evento">Data do evento: </label>
                    <br />
                    <input id="data do evento" type="date" name="data_evento"/>
                </div>
    
                <div>
                    <label for="horario">Horário: </label>
                    <br />
                    <input id="data do evento" type="time" name="horario"/>
                </div>

                <label for="Tipo de eventos">Tipo de evento:</label>
                <br />
                    <select id='tiposDeEvento' name="tiposDeEvento">
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var tiposDeEvento in Model.TiposDeEventos)
                    {
                        <option value=@tiposDeEvento.Nome>@tiposDeEvento.Nome por @tiposDeEvento.Preco

                        </option>
                    }
                    </select>  
                    
                
                <br />
                    <label for="descricao">Descrição do evento:</label>
                    <br/>
                    <textarea name="descricao" id="descricao" cols="10" rows="5"  placeholder="Descrição do evento"  style="width: 20em "></textarea>
                    <br /> 
            
                    <label for="forma_de_pagamento">Forma de paagamento:</label>
                    <br/>
                    <textarea name="forma_de_pagamento" id="forma_de_pagamento" cols="3" rows="2"  placeholder="Forma de pagamento"  style="width: 10em "></textarea>
                    <br />
                    <label for="Serviços adicionais">Serviços adicionais:</label> 
                    <br />

                <select id="servicosAdiconais" name="servicosAdiconais">
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var servicosAdicionais in Model.ServicosAdicionais)
                    {
                        <option value=@servicosAdicionais.Nome>@servicosAdicionais.Nome por @servicosAdicionais.Preco

                        </option>
                    }
                    </select>  
                    <br />
                    <br />
                    <input type="submit" value="Finalizar Cadastro do evento">

            </form>
            <br>
            <br>
            <h2>Historico dos meus eventos</h2>
            <table>
        <thead>
            <tr>
                <th>Tipos De Evento</th>
                <th>Serviços Adicionais</th>
                <th>Data do Evento</th>
                <th>Horário</th>
                <th>Descrição do Evento</th>
                <th>Forma de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var evento in Model.Eventos)
            {
                <tr>
                    <td>@evento.TiposDeEvento.Nome</td>
                    <td>@evento.ServicosAdicionais.Nome</td>
                    <td>@evento.DataDoEvento</td>
                    <td>@evento.Horario</td>
                    <td>@evento.DescricaoEvento</td>
                    <td>@evento.FormaDePagamento</td>
                </tr>
            }
        </tbody>
    </table>
                </main>
        
