@model RoleTopMVC.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Evento - RoleTop";
}
<main>
                    <h2>Minha Conta!</h2>
                        <br />
                        <div class="meu evento">
                                <a href="meuevento.html#meu evento">Meu evento</a>
                            </div>
                            <br />
                        
            <form method="POST" action='@Url.Action("Registrar", "Usuario")'>

                
                <div>
                    <label for="data do evento">Data do evento: </label>
                    <br />
                    <input id="data do evento" type="date" name="data_evento"/>
                </div>
    
                <div>
                    <label for="horario">Horário: </label>
                    <br />
                    <input id="data do evento" type="time" name="horario"/>
                </div>

                <label for="Tipo de eventos">Tipo de evento:</label>
                <br />
                    <select id='tiposDeEvento' name="tiposDeEvento">
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var tiposDeEvento in Model.TiposDeEventos)
                    {
                        <option value=@tiposDeEvento.Nome>@tiposDeEvento.Nome por @tiposDeEvento.Preco

                        </option>
                    }
                    </select>  
                    
                
                <br />
                    <label for="descricao">Descrição do evento:</label>
                    <br/>
                    <textarea name="descricao" id="descricao" cols="10" rows="5"  placeholder="Descrição do evento"  style="width: 20em "></textarea>
                    <br /> 
            

                <label for="Forma de paagamento">Forma de pagamento:</label>
                <br />
                <select id='select' name='select'>
                    <option value=''>Selecione</option>
                    <option value='div1'>Débito</option>
                    <option value='div2'>Crédito</option>
                    <option value='div3'>Boleto bancário</option>                                       
                    </select>  
                    <br />
                    <label for="Serviços adicionais">Serviços adicionais:</label> 
                    <br />

                <select id="servicosAdiconais" name="servicosAdiconais">
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var servicosAdicionais in Model.ServicosAdicionais)
                    {
                        <option value=@servicosAdicionais.Nome>@servicosAdicionais.Nome por @servicosAdicionais.Preco

                        </option>
                    }
                    </select>  
                    <br />
                    <br />
                    <input type="submit" value="Finalizar Cadastro do evento">


            </form>
                </main>