@model RoleTopMVC.ViewModels.DashboardViewModel
<main>
                    <h2>Administrador</h2>
                    <section id="informacoes dos eventos">
                        <h3>Informações dos eventos</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th rowspan="2">Nome do cliente:</th>
                                    <th rowspan="2">serviços adicionais:</th>
                                    <th rowspan="3">Data do evento:</th>
                                    <th rowspan="2">Horário:</th>
                                    <th rowspan="2">Tipo de evento:</th>
                                    <th colspan="1" rowspan="">Confirma evento</th>
                                    <th colspan="2" rowspan="2">Cancelar evento</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <p>Eventos atualizados em @DateTime.Now</p>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                            @foreach (var evento in Model.Eventos)
                            {
                                <tr>
                                    <td>@evento.Cliente.Nome</td>
                                    <td>@evento.TiposDeEvento.Nome</td>
                                    <td>@evento.ServicosAdicionais.Nome</td>
                                    <td><a href='@Url.Action("Confirma evento", "Evento", new {id = @evento.Id})'><i class="fas fa-check"></i></a></td>
                                    <td><a href='@Url.Action("Cancelar evento", "Evento", new {id = @evento.Id})'><i class="fas fa-times"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </section>
    
                

                
                        <section id="eventosrealizados">
                            <h4>Eventos realizados</h4>
                            <table id="realizados">
                                <thead>
                                    <tr>
                                    <th rowspan="2">Nome dos clientes:</th>
                                    <th rowspan="5">Tipos de eventos:</th>                             
                                </tr>
                                </thead>
        
                                <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <p>Eventos atualizados em @DateTime.Now</p>
                                        </td>
                                    </tr>                           
                                </tfoot>
                                <tbody>                       
                                    <tr>
                                        <td>Joelma Leal de Jesus</td>
                                        <td>Show</td>                                       
                                    </tr>
        
                                    <tr>
                                        <td>Elias Alves Neto</td>
                                        <td>Anivérsario 15 anos</td>                                   
                                    </tr>
        
                                    <tr>
                                        <td>Maria Inacio de Souza</td>
                                        <td>Corporativo</td>                             
                                    </tr>
        
                                
                                </tbody>
        
                            </table>                   
                        </section>
                    
        

                
                <section id="eventos aceitos e recusados">
                    <h4>Eventos aceitos e recusados</h4>
                    <table id="eventos">
                        <thead>
                            <tr>
                            <th rowspan="2">Nome dos clientes:</th>
                            <th rowspan="5">Tipos de eventos ja realizados:</th>
                            <th colspan="1" rowspan="">aceitos e recusados</th>
                            
                        </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <p>Eventos atualizados em @DateTime.Now</p>
                                </td>
                            </tr>                           
                        </tfoot>
                        <tbody>                       
                            <tr>
                                <td>Matheus Barbosa</td>
                                <td>Show</td>
                                <td><a href="#"><i class="fas fa-times"></i></a></td>
                            
                                
                            </tr>

                            <tr>
                                <td>Fernanda Oliveira</td>
                                <td>Anivérsario</td>
                                <td><a href="#"><i class="fas fa-check"></i></a></td>                               
                            </tr>

                            <tr>
                                <td>Carlos Gonçalves</td>
                                <td>Corporativo</td>
                                <td><a href="#"><i class="fas fa-times"></i></a></td>                             
                            </tr>
                        </tbody>

                    </table>                   
                </section>
            </main>
